@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
.garder {
  border: 1px dashed purple;
}
.navbar {
  /* background-image: url("../assets/images/article-nav-bg.png"); */
  background-position: center;
  background-size: cover;
  
}

.navbar a {
  color: white;
}

.navbar ul li {
  margin-left: 12px;
}
.bg-parent {
  /* height: 100vh; */
  background-image: url("../assets/images/blogs-header-bg.png");
  background-position: center;
  background-size: cover;
}
.hero-section {
  width: 80%;
  padding: 100px 0px;
}
.hero-text {
  color: #00b3fe;
  font-size: 30px;
}
.hero-heading {
  width: 50%;
  font-size: 60px;
  font-weight: 600;
  color: white;
}
/* Main Content */
.content {
  width: 85%;
  max-width: 1400px;
}
/* Search Button */
.search-input {
  width: 25%;
  position: relative;
}

.search-input input {
  width: 100%;
  padding: 7px 7px 7px 35px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  outline: none;
}
.search-input i {
  color: #a6a6a6;
  font-size: 16px;
}
.magnify {
  position: absolute;
  left: 5%;
  top: 12px;
}
.bars {
  position: absolute;
  right: 8%;
  top: 12px;
}
.line {
  height: 1px;
  /* border: 1px solid #C4C4C4; */
  background-color: #c4c4c4;
  width: 80%;
}
/* See More Button and Title */
.content-title p {
  color: #002046;
  font-size: 24px;
  font-weight: 600;
}
.content-title button {
  font-size: 14px;
  color: white;
  padding: 7px 25px;
  border-radius: 50px;
  background: linear-gradient(
    300deg,
    rgba(99, 164, 255, 1) 0%,
    rgba(131, 234, 241, 1) 100%
  );
}
.second-col {
  width: 35%;
}
/* Feature Section OR 1st Colmun */
.feature-wrapper {
  background-color: #c4c4c41a;
}
.feature-card img {
  width: 60px;
}
.feature-heading {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
}
.feature-disc {
  color: #666666;
  font-size: 12px;
}
/* Main Content Cards */
.card-container {
  margin: 10px auto;
  width: 48%;
  background-color: #c4c4c41a;
  box-shadow: 3px 3px 12px 0 rgb(219, 219, 219);
}
.card-container img {
  border-radius: 0;
}
.main-card-title {
  color: #666666;
  font-size: 12px;
}
.main-card-heading {
  color: #191919;
  font-size: 24px;
  font-weight: 600;
}
.main-card-disc {
  color: #666666;
  font-size: 12px;
}
.card-dt {
  color: #666666;
  font-size: 12px;
}
.card-icons {
  color: #666666;
}
/* Footer  */
.foot-wrapper {
  background-color: #002046;
  color: white;
}
.foot-head p {
  font-size: 30px;
  font-weight: 500;
}
.foot-disc p {
  font-size: 14px;
  font-weight: 200;
}
.foot-button .btn {
  background-color: #1ebbfc;
  font-size: 20px;
}
.foot-links a {
  font-size: 14px;
  color: white;
  font-weight: 300;
  text-decoration: none;
}
.foot-social-links {
  font-size: 38px;
  color: white;
}
.foot-social-links i {
  padding: 10px;
  background-color: #1ebbfc;
  border-radius: 7px;
  margin-right: 30px;
}

/* Responsiveness */
@media screen and (max-width: 1300px) {
  .content-title p {
    font-size: 20px;
    font-weight: 600;
  }
  .content-title button {
    padding: 7px 12px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .search-input {
    width: 30%;
  }
  .content-title p {
    font-size: 18px;
    font-weight: 600;
  }
  .content-title button {
    padding: 7px 12px;
    font-size: 10px;
  }
  .main-card-heading {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    width: 90%;
  }
  .hero-heading {
    width: 75%;
    font-size: 50px;
  }
  .second-col {
    width: 100%;
  }

  .content-title p {
    font-size: 24px;
    font-weight: 600;
  }
  .content-title button {
    padding: 10px 20px;
    font-size: 12px;
  }
}
@media screen and (max-width: 756px) {
  .hero-section {
    padding: 80px 0px;
  }
  .hero-text {
    font-size: 25px;
  }
  .hero-heading {
    font-size: 45px;
  }
  .search-input {
    width: 40%;
  }
  .foot-social-links {
    font-size: 34px;
  }
  .foot-social-links i {
    margin-right: 25px;
  }
}
@media screen and (max-width: 620px) {
  .hero-text {
    font-size: 23px;
    
  }
  .hero-heading {
    width: 85%;
    font-size: 40px;
  }
  .search-input {
    width: 50%;
  }
  .search-input input::placeholder {
    font-size: 14px;
  }
  .search-input i {
    font-size: 14px;
  }
  .feature-card img {
    width: 40px;
  }
  .feature-heading {
    font-size: 12px;
    font-weight: 600;
  }
  .feature-disc {
    font-size: 10px;
  }
  .foot-head p {
    font-size: 24px;
  }
  .foot-disc p {
    font-size: 12px;
  }
  .foot-button .btn {
    font-size: 16px;
  }
  .foot-social-links {
    font-size: 30px;
  }
  .foot-social-links i {
    margin-right: 20px;
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  .hero-section {
    padding: 60px 0px;
  }
  .hero-text {
    font-size: 18px;
  }
  .hero-heading {
    width: 85%;
    font-size: 25px;
  }
  .search-input {
    width: 60%;
  }
  .card-container {
    width: 98%;
    margin: auto;
  }
  .foot-head p {
    font-size: 20px;
  }
  .foot-disc p {
    font-size: 10px;
  }
  .foot-button .btn {
    font-size: 12px;
  }
  .foot-links a {
    font-size: 8px;
  }
  .foot-social-links {
    font-size: 20px;
  }
  .foot-social-links i {
    margin-right: 15px;
    padding: 5px;
  }
  
}
@media screen and (max-width: 420px) {
  .content {
    width: 90%;
  }
  .hero-text {
    font-size: 16px;
  }
  .hero-heading {
    font-size: 25px;
  }
  .search-input {
    width: 70%;
  }
  .search-input input::placeholder {
    font-size: 14px;
  }
  .search-input i {
    font-size: 14px;
  }
  .feature-card img {
    width: 35px;
  }
  .feature-heading {
    font-size: 10px;
    font-weight: 700;
  }
  .feature-disc {
    font-size: 8px;
  }
}
@media screen and (max-width: 390px) {
  .foot-head p {
    font-size: 16px;
  }
}
