@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
.garder {
  border: 1px dashed red;
}
.navbar {
  background-position: center;
  background-size: cover;
}

.navbar a {
  color: white;
}

.navbar ul li {
  margin-left: 12px;
}
.bg-parent {
  background-image: url("../assets/images/contact-header-bg-1400x995.png");
  background-position: center;
  background-size: cover;
}
/* Hero */
.hero-wrapper {
  width: 85%;
}
article {
  width: 85%;
  margin: 150px 0px 0px 0px;
}
.hero-content {
  width: 60%;
}
.first-heading {
  font-size: 30px;
  font-weight: 500;
  color: #00b3fe;
}
.second-heading {
  color: white;
  font-weight: 500;
  font-size: 60px;
}
.title {
  font-size: 30px;
  color: white;
  font-weight: 600;
}
.disc {
  font-size: 18px;
  color: white;
  font-weight: 200;
}
.heading-content li {
  display: flex;
  align-items: center;
  color: white;
}

.li-number {
  font-size: 18px;
  font-weight: 500;
}
.li-text {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 200;
}
/* Sign Up Card */
.signup-wrapper {
  background-color: white;
  box-shadow: 0px 1px 12px 0px rgb(167, 167, 167);
  border: none;
  border-radius: 24px;
  bottom: -100px;
  right: 0px;
}
.signup-heading {
  font-weight: 600;
  font-size: 30px;
}
.credential {
  /* display: flex; */
  position: relative;
}
.credential i {
  color: #a6a6a6;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}
.credential input {
  background-color: #edeeef;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px 45px;
  width: 100%;
}
.credential input::placeholder {
  color: #a6a6a6;
  font-size: 14px;
}
.signup-checkbox {
  font-size: 12px;
}
.signup-checkbox a {
  text-decoration: none;
  color: #00b3fe;
}
.signup-button button {
  border: none;
  border-radius: 5px;
  background-color: #00b3fe;
  color: white;
  padding: 10px 60px;
  transition: all 0.3s ease;
}
.signup-button button:hover {
  border: 1px solid #00b3fe;
  background-color: transparent;
  color: #00b3fe;
}
/* Search Bar */
.search-input {
  width: 25%;
  position: relative;
}
.search-input input {
  width: 100%;
  padding: 7px 7px 7px 35px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  outline: none;
}
.search-input i {
  color: #a6a6a6;
  font-size: 16px;
}
.magnify {
  position: absolute;
  left: 5%;
  top: 12px;
}
.bars {
  position: absolute;
  right: 8%;
  top: 12px;
}
.line {
  height: 1px;
  background-color: #c4c4c4;
  width: 80%;
}
/* Latest button + heading */
.latest {
  color: #00b3fe;
  font-size: 25px;
  font-weight: 600;
}
.top-button-container p {
  color: #002046;
  font-size: 35px;
  font-weight: 600;
}
.top-button-container button {
  font-size: 16px;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    300deg,
    rgba(99, 164, 255, 1) 0%,
    rgba(131, 234, 241, 1) 100%
  );
}
/* Second Column */
.top-button-container-2 p {
  color: #002046;
  font-size: 25px;
  font-weight: 600;
}
.top-button-container-2 button {
  font-size: 16px;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    300deg,
    rgba(99, 164, 255, 1) 0%,
    rgba(131, 234, 241, 1) 100%
  );
}
@media screen and (max-width: 1300px) {
  /* Second Column */

  .top-button-container-2 p {
    color: #002046;
    font-size: 20px;
    font-weight: 600;
  }
  .top-button-container-2 button {
    font-size: 14px;
    padding: 10px 16px;
  }
}

@media screen and (max-width: 1100px) {
  .search-input {
    width: 30%;
  }
}
@media screen and (max-width: 992px) {
  article {
    margin: 50px 0px;
  }
  .signup-wrapper {
    display: none;
  }
  .first-heading {
    font-size: 26px;
    font-weight: 500;
    color: #00b3fe;
  }
  .second-heading {
    color: white;
    font-weight: 500;
    font-size: 45px;
  }
  .title {
    font-size: 26px;
    color: white;
  }
  .disc {
    font-size: 16px;
    color: white;
    font-weight: 200;
  }
  .li-number {
    font-size: 16px;
    font-weight: 500;
  }
  .li-text {
    font-size: 16px;
    font-weight: 200;
  }
  /* !st col */
  .top-button-container p {
    font-size: 25px;
    font-weight: 600;
  }
  .top-button-container button {
    font-size: 16px;
    padding: 10px 25px;
  }
  /* 2nd Col */
  .top-button-container-2 p {
    font-size: 25px;
    font-weight: 600;
  }
  .top-button-container-2 button {
    font-size: 16px;
    padding: 10px 25px;
  }
}
@media screen and (max-width: 768px) {
  article {
    margin: 20px 0px;
  }
  .search-input {
    width: 40%;
  }

  .hero-wrapper {
    width: 100%;
  }
  .hero-content {
    width: 100%;
  }
  .hero-heading {
    padding: 100px 10%;
  }
  .heading-content {
    background: white;
    padding: 10px 10%;
  }
  .first-heading {
    font-size: 20px;
    font-weight: 500;
    color: #00b3fe;
  }
  .second-heading {
    color: white;
    font-weight: 500;
    font-size: 35px;
  }
  .title {
    font-size: 24px;
    color: #002046;
  }
  .disc {
    font-size: 16px;
    color: #757575;
    font-weight: 200;
    line-height: 20px;
  }
  .li-number {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
  }
  .li-text {
    font-size: 16px;
    font-weight: 200;
    color: #757575;
  }
  /* Latest button + heading */
  .latest {
    font-size: 20px;
    font-weight: 600;
  }
  .top-button-container p {
    font-size: 25px;
    font-weight: 600;
  }
  .top-button-container button {
    font-size: 16px;
    padding: 7px 20px;
  }
  /* Second Column */
  .top-button-container-2 p {
    font-size: 25px;
    font-weight: 600;
  }
  .top-button-container-2 button {
    font-size: 16px;
    padding: 7px 20px;
  }
}

@media screen and (max-width: 620px) {
  .search-input {
    width: 50%;
  }
  .search-input input::placeholder {
    font-size: 14px;
  }
  .search-input i {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .search-input {
    width: 60%;
  }
  .hero-heading {
    padding: 80px 5%;
  }
  .heading-content {
    padding: 10px 5%;
  }
  .first-heading {
    font-size: 18px;
    font-weight: 500;
  }
  .second-heading {
    font-weight: 500;
    font-size: 35px;
  }
  .title {
    font-size: 20px;
  }
  .disc {
    font-size: 14px;
    line-height: 18px;
  }
  .li-number {
    font-size: 14px;
  }
  .li-text {
    font-size: 14px;
  }
  /* Latest button + heading */
  .latest {
    font-size: 16px;
    font-weight: 600;
  }
  .top-button-container p {
    font-size: 20px;
    font-weight: 600;
  }
  .top-button-container button {
    font-size: 14px;
    padding: 7px 20px;
  }
  /* Second Column */
  .top-button-container-2 p {
    font-size: 20px;
    font-weight: 600;
  }
  .top-button-container-2 button {
    font-size: 14px;
    padding: 7px 20px;
  }
}
@media screen and (max-width: 420px) {
  .search-input {
    width: 70%;
  }
  .search-input input::placeholder {
    font-size: 14px;
  }
  .search-input i {
    font-size: 14px;
  }

  .first-heading {
    font-size: 14px;
    font-weight: 500;
  }
  .second-heading {
    font-weight: 500;
    font-size: 20px;
  }
  .title {
    font-size: 16px;
  }
  .disc {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }
  .li-number {
    font-size: 12px;
  }
  .li-text {
    font-size: 12px;
    font-weight: 300;
  }
  /* Latest button + heading */
  .latest {
    font-size: 14px;
    font-weight: 600;
  }
  .top-button-container p {
    font-size: 20px;
    font-weight: 600;
  }
  .top-button-container button {
    font-size: 12px;
    padding: 7px 18px;
  }
  /* Second Column */
  .top-button-container-2 p {
    font-size: 20px;
    font-weight: 600;
  }
  .top-button-container-2 button {
    font-size: 12px;
    padding: 7px 18px;
  }
}
@media screen and (max-width: 390px) {
}
